<form class="{{cssClass}}" autocomplete="off">
    <div class="sheet-content">
        {{#if (or isGM owner)}}
            <div class="flexrow">
                {{> "systems/togarashi/templates/character/partials/aura-list.html"}}
                {{> "systems/togarashi/templates/character/partials/char-info.html"}}
            </div>
            
            {{> "systems/togarashi/templates/character/partials/stats-table.html"}}

            <h1>{{localize "togarashi.items"}} ({{weightStats.curr}} / {{weightStats.max}} peso)</h1>
            {{> "systems/togarashi/templates/character/partials/items-table.html"}}

            <h1>{{localize "togarashi.modifiers"}}</h1>
            {{> "systems/togarashi/templates/character/partials/modifiers-table.html"}}

        {{else}}
            <img src="{{actor.img}}" title="{{actor.name}}" height="64" width="64"/>
            <h1>{{actor.name}}</h1>
        {{/if}}
    </div>

    <!-- <section class="section section--tabs flexshrink">
        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="biography">biography</a>
            <a class="item" data-tab="details">details</a>
            <a class="item " data-tab="powers">powers</a>
            <a class="item" data-tab="inventory">inventory</a>
            <a class="item" data-tab="features">features</a>
            <a class="item" data-tab="effects">effects</a>
        </nav>
    </section>

    <section class="sheet-body section--tabs-content">

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            biography
        </div>

        {{!-- Details Tab --}}
        <div class="tab details" data-group="primary" data-tab="details">
            details
        </div>

        {{!-- Owned Inventory Tab --}}
        <div class="tab inventory" data-group="primary" data-tab="inventory">
            inventory
        </div>

        {{!-- Feat Tab --}}
        <div class="tab features" data-group="primary" data-tab="features">
            features
        </div>
        
        {{!-- Powers Tab --}}
        <div class="tab powers " data-group="primary" data-tab="powers">
            powers
        </div>

        {{!-- Effects Tab --}}
        <div class="tab effects flexcol" data-group="primary" data-tab="effects">
            effects
        </div>
    </section> -->
</form>
