.togarashi.sheet.item {
    form {
        display: flexbox;
        flex-direction: column;

        select {
            width: 100%;
        }
    }

    .sheet-content {
        height: 100%;
        display: flexbox;
        flex-direction: column;

        .editor {
            height: 100%;
        }
    }

    .true-stat-value {
        width: 100%;
        font-weight: 600;
        font-size: 14pt;
        text-align: center;
        display: block;
    }
}
