.togarashi.sheet.item form {
  display: flexbox;
  flex-direction: column;
}
.togarashi.sheet.item form select {
  width: 100%;
}
.togarashi.sheet.item .sheet-content {
  height: 100%;
  display: flexbox;
  flex-direction: column;
}
.togarashi.sheet.item .sheet-content .editor {
  height: 100%;
}
.togarashi.sheet.item .true-stat-value {
  width: 100%;
  font-weight: 600;
  font-size: 14pt;
  text-align: center;
  display: block;
}
.togarashi.sheet.character form {
  display: flexbox;
  flex-direction: column;
}
.togarashi.sheet.character form select {
  width: 100%;
}
.togarashi.sheet.character form td {
  margin-left: 15px;
  margin-right: 15px;
}
.togarashi.sheet.character form .stat-group {
  margin: 0;
  padding: 0;
  border: 0;
}
.togarashi.sheet.character form .base-stat-container {
  display: flex;
}
.togarashi.sheet.character form .base-stat-label {
  flex: 1;
}
.togarashi.sheet.character form .base-stat {
  flex: 1;
  text-align: center;
}
