<form>
    <h2>{{actorName}} {{localize "togarashi.attackDialogBox.isAttacking"}} {{targetNames}}</h2>
    <div class="form-group">
        <label>{{localize "togarashi.itemAttributes.damageType"}}</label>
        <select name="damageType" data-field="damageType">
            {{selectOptions config.damageTypes selected=damageType localize=true}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.itemAttributes.secondaryDamageType"}}</label>
        <select name="secondaryDamageType" data-field="secondaryDamageType">
            {{selectOptions config.damageTypes selected=secondaryDamageType localize=true}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.itemAttributes.accuracy"}}</label>
        <input type="number" name="accuracy" value="{{accuracy}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.itemAttributes.damage"}}</label>
        <input type="number" name="damage" value="{{damage}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.itemAttributes.critical"}}</label>
        <input type="number" name="critical" value="{{critical}}"/>
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.attackDialogBox.advantageType"}}</label>
        <select name="advantageType" data-field="advantageType">
            {{selectOptions config.advantageTypes selected=advantageType localize=true}}
        </select>
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.attackDialogBox.useWeaponStats"}}</label>
        <input type="checkbox" name="useWeaponStats" {{#if useWeaponStats}} checked {{/if}} />
    </div>
    <div class="form-group">
        <label>{{localize "togarashi.attackDialogBox.applyEffects"}}</label>
        <input type="checkbox" name="applyEffects" {{#if applyEffects}} checked {{/if}} />
    </div>
</form>
