<form>
    <h1>{{actorName}} {{localize "togarashi.attackDialogBox.isAttacking"}} {{targetName}}</h1>
    <table>
        <tr>
            <th>{{localize "togarashi.itemAttributes.accuracy"}}</th>
            <th>{{localize "togarashi.itemAttributes.damage"}}</th>
            <th>{{localize "togarashi.itemAttributes.critical"}}</th>
            <th>{{localize "togarashi.itemAttributes.damageType"}}</th>
            <th>{{localize "togarashi.itemAttributes.secondaryDamageType"}}</th>
            <th>{{localize "togarashi.attackDialogBox.advantageType"}}</th>
        </tr>
        <tr>
            <td>
                <span class="true-stat-value">{{data.accuracy}}</span>
            </td>
            <td>
                <span class="true-stat-value">{{data.damage}}</span>
            </td>
            <td>
                <span class="true-stat-value">{{data.critical}}</span>
            </td>
            <td>
                <span class="true-stat-value">{{data.damageType}}</span>
            </td>
            <td>
                <span class="true-stat-value">{{data.secondaryDamageType}}</span>
            </td>
            <td>
                <span class="true-stat-value">{{data.advantageType}}</span>
            </td>
        </tr>
    </table>

    <div class="flexrow">
        <div class="form-col">
            <div class="form-group">
                <label>{{localize "togarashi.itemAttributes.accuracy"}}</label>
                <input class="change-obj" type="number" data-field="accuracy" value="{{editableData.accuracy}}"/>
            </div>
            <div class="form-group">
                <label>{{localize "togarashi.itemAttributes.damage"}}</label>
                <input class="change-obj" type="number" data-field="damage" value="{{editableData.damage}}"/>
            </div>
            <div class="form-group">
                <label>{{localize "togarashi.itemAttributes.critical"}}</label>
                <input class="change-obj" type="number" data-field="critical" value="{{editableData.critical}}"/>
            </div>
            <div class="form-group">
                <label>{{localize "togarashi.itemAttributes.damageType"}}</label>
                <select class="change-obj" data-field="damageType" {{#if editableData.useWeaponStats}} disabled {{/if}}>
                    {{selectOptions config.damageTypes selected=editableData.damageType localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "togarashi.itemAttributes.secondaryDamageType"}}</label>
                <select class="change-obj" data-field="secondaryDamageType" {{#if editableData.useWeaponStats}} disabled {{/if}}>
                    {{selectOptions config.damageTypes selected=editableData.secondaryDamageType localize=true}}
                </select>
            </div>
            <div class="form-group">
                <label>{{localize "togarashi.attackDialogBox.advantageType"}}</label>
                <select class="change-obj" data-field="advantageType">
                    {{selectOptions config.advantageTypes selected=editableData.advantageType localize=true}}
                </select>
            </div>
        </div>
        <div class="form-col">
            <div class="form-group">
                <label>Usar dados do personagem</label>
                <input class="change-obj" type="checkbox" data-dtype="Boolean" data-field="useCharacterStats" {{#if editableData.useCharacterStats}} checked {{/if}} />
            </div>
            {{#if weapon}}
                <div class="form-group">
                    <label>Usar dados da arma ({{weapon.name}})</label>
                    <input class="change-obj" type="checkbox" data-dtype="Boolean" data-field="useWeaponStats" {{#if editableData.useWeaponStats}} checked {{/if}} />
                </div>
            {{/if}}
            <div class="form-group">
                <label>Aplicar efeitos</label>
                <input class="change-obj" type="checkbox" data-dtype="Boolean" data-field="applyEffects" {{#if editableData.applyEffects}} checked {{/if}} />
            </div>
        </div>
    </div>

    <footer class="flexrow">
        <button id="attack">Atacar</button>
        <button id="cancel">Cancelar</button>
    </footer>
</form>
