<form>
    <h1>Editor de fórmulas de Togarashi</h1>

    <div class="form-group">
        <label>{{localize "SETTINGS.upperGuardDamageCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="upperGuardDamageCalc" value="{{data.upperGuardDamageCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.lowerGuardDamageCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="lowerGuardDamageCalc" value="{{data.lowerGuardDamageCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.totalDamageCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="totalDamageCalc" value="{{data.totalDamageCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.defenseWeaponResistDamageCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="defenseWeaponResistDamageCalc" value="{{data.defenseWeaponResistDamageCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.attackWeaponResistDamageCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="attackWeaponResistDamageCalc" value="{{data.attackWeaponResistDamageCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.defenseArmorResistDamageCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="defenseArmorResistDamageCalc" value="{{data.defenseArmorResistDamageCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.fullHealthCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="fullHealthCalc" value="{{data.fullHealthCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.vitalAuraCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="vitalAuraCalc" value="{{data.vitalAuraCalc}}"/>
    </div>

    <div class="form-group">
        <label>{{localize "SETTINGS.dailyAuraCalc.name"}}</label>
        <input class="change-obj" type="text" data-field="dailyAuraCalc" value="{{data.dailyAuraCalc}}"/>
    </div>

    <footer class="flexrow">
        <button id="apply">Aplicar mudanças</button>
        <button id="cancel">Cancelar</button>
    </footer>
</form>
