<div class="top-stats-content">
    <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
    <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    
    {{#if isGM}}
        <table>
            <tr>
                <th>{{localize "togarashi.characterStats.health"}}</th>
                <th>{{localize "togarashi.characterStats.dailyAura"}}</th>
                <th>{{localize "togarashi.characterStats.vitalAura"}}</th>
            </tr>
            <tr>
                <td>
                    <input class="change-obj small-input" type="number" data-field="data.health.value" value="{{data.health.value}}" data-dtype="Number"></input>
                    <span>/</span>
                    <input class="change-obj small-input" type="number" data-field="data.health.max" value="{{data.health.max}}" data-dtype="Number"></input>
                </td>
                <td>
                    <input class="change-obj small-input" type="number" data-field="data.dailyAura.value" value="{{data.dailyAura.value}}" data-dtype="Number"></input>
                    <span>/</span>
                    <input class="change-obj small-input" type="number" data-field="data.dailyAura.max" value="{{data.dailyAura.max}}" data-dtype="Number"></input>
                </td>
                <td>
                    <input class="change-obj small-input" type="number" data-field="data.vitalAura.value" value="{{data.vitalAura.value}}" data-dtype="Number"></input>
                    <span>/</span>
                    <input class="change-obj small-input" type="number" data-field="data.vitalAura.max" value="{{data.vitalAura.max}}" data-dtype="Number"></input>
                </td>
            </tr>
        </table>
    {{/if}}
    
    <table>
        <tr>
            <th>{{localize "togarashi.characterStats.guardLow"}}</th>
            <th>{{localize "togarashi.characterStats.guardHigh"}}</th>
            <th>{{localize "togarashi.characterStats.experience"}}</th>
            <th>{{localize "togarashi.characterStats.texture"}}</th>
        </tr>
        <tr>
            <td>
                <span class="true-stat-value">{{guard.guardLow}}</span>
            </td>
            <td>
                <span class="true-stat-value">{{guard.guardHigh}}</span>
            </td>
            <td>
                <input class="small-input" name="data.experience" type="number" value="{{data.experience}}" data-dtype="Number"></input>
            </td>
            <td>
                <select name="data.texture" data-field="data.texture">
                    {{selectOptions config.textureTypes selected=data.texture localize=true}}
                </select>
            </td>
        </tr>
    </table>
</div>
