<div class="flexrow editable-tabs-container">
    <div class="editable-tabs armors-tab">
        <h2>{{localize "togarashi.armors"}}</h2>
        <table>
            <tr>
                <th>{{localize "togarashi.item"}}</th>
                <th>{{localize "togarashi.itemAttributes.weight"}}</th>
                {{#if isGM}}
                    <th>{{localize "togarashi.itemAttributes.durability"}}</th>
                {{/if}}
            </tr>
            {{#each armors as |item|}}
                <tr class="item-card {{#if (eq ../data.equippedItems.armor item._id)}}selected{{/if}}" data-item-type="armor" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.weight}}</td>
                    {{#if ../isGM}}
                        <td>{{item.remainingDurability}}</td>
                    {{/if}}
                </tr>
            {{/each}}
        </table>
    </div>
    <div class="editable-tabs weapons-tab">
        <h2>{{localize "togarashi.weapons"}}</h2>
        <table>
            <tr>
                <th>{{localize "togarashi.item"}}</th>
                <th>{{localize "togarashi.itemAttributes.weight"}}</th>
                {{#if isGM}}
                    <th>{{localize "togarashi.itemAttributes.durability"}}</th>
                {{/if}}
            </tr>
            {{#each weapons as |item|}}
                <tr class="item-card {{#if (eq ../data.equippedItems.weapon item._id)}}selected{{/if}}" data-item-type="weapon" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.weight}}</td>
                    {{#if ../isGM}}
                        <td>{{item.remainingDurability}}</td>
                    {{/if}}
                </tr>  
            {{/each}}
        </table>
    </div>
    <div class="editable-tabs items-tab">
        <h2>{{localize "togarashi.items"}}</h2>
        <table>
            <tr>
                <th>{{localize "togarashi.item"}}</th>
                <th>{{localize "togarashi.itemAttributes.weight"}}</th>
            </tr>
            {{#each genericItems as |item|}}
                <tr class="item-card" data-item-type="generic" data-item-id="{{item._id}}">
                    <td>{{item.name}}</td>
                    <td>{{item.weight}}</td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>
