<table>
    <tr>
        <th>{{localize "togarashi.characterStatsGroups.physical"}}</th>
        <th>{{localize "togarashi.characterStatsGroups.mental"}}</th>
        <th>{{localize "togarashi.characterStatsGroups.special"}}</th>
    </tr>
    <tr>
        <td>
            <table class="stat-group">
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.force.base">{{localize "togarashi.characterStats.force"}}</label>
                        <input class="base-stat" type="number" value="{{data.force.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.dexterity.base">{{localize "togarashi.characterStats.dexterity"}}</label>
                        <input class="base-stat" type="number" value="{{data.dexterity.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.resistence.base">{{localize "togarashi.characterStats.resistence"}}</label>
                        <input class="base-stat" type="number" value="{{data.resistence.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="stat-group">
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.intelligence.base">{{localize "togarashi.characterStats.intelligence"}}</label>
                        <input class="base-stat" type="number" value="{{data.intelligence.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.focus.base">{{localize "togarashi.characterStats.focus"}}</label>
                        <input class="base-stat" type="number" value="{{data.focus.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.force.base">{{localize "togarashi.characterStats.intuition"}}</label>
                        <input class="base-stat" type="number" value="{{data.intuition.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="stat-group">
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.naturalEnergy.base">{{localize "togarashi.characterStats.naturalEnergy"}}</label>
                        <input class="base-stat" type="number" value="{{data.naturalEnergy.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.opening.base">{{localize "togarashi.characterStats.opening"}}</label>
                        <input class="base-stat" type="number" value="{{data.opening.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
                <tr>
                    <td class="base-stat-container">
                        <label class="base-stat-label" for="data.control.base">{{localize "togarashi.characterStats.control"}}</label>
                        <input class="base-stat" type="number" value="{{data.control.base}}" data-dtype="Number"></input>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
