<div>
    <div>Sucessos na guarda de baixo: {{attackInfo.lower}}</div>
    <div>Dano na guarda de deixo: {{damageInfo.lowerGuardDamage}}</div>

    <div>Sucessos na guarda de cima: {{attackInfo.upper}}</div>
    <div>Dano na guarda de cima: {{damageInfo.upperGuardDamage}}</div>

    <div>Dano total: {{damageInfo.totalDamage}}</div>

    <div>Dano na arma do defensor: {{damageInfo.defenseWeaponResistDamage}}</div>
    <div>Dano na armadura do defensor: {{damageInfo.defenseArmorResistDamage}}</div>
    <div>Dano na arma do atacante: {{damageInfo.attackWeaponResistDamage}}</div>
    

    <!-- {{#if isGM}}
        GM Stuff
    {{/if}} -->
</div>
