<div>
    {{#if isGM}}
        <table>
            <tr>
                <td>Sucessos na guarda de baixo</td>
                <td>{{attackInfo.lower}}</td>
            </tr>
            <tr>
                <td>Dano na guarda de baixo</td>
                <td>{{damageInfo.lowerGuardDamage}}</td>
            </tr>
            <tr>
                <td>Sucessos na guarda de cima</td>
                <td>{{attackInfo.upper}}</td>
            </tr>
            <tr>
                <td>Dano na guarda de cima</td>
                <td>{{damageInfo.upperGuardDamage}}</td>
            </tr>
            <tr>
                <td>Dano total</td>
                <td>{{damageInfo.totalDamage}}</td>
            </tr>
            <tr>
                <td>Dano na arma do defensor</td>
                <td>{{damageInfo.defenseWeaponResistDamage}}</td>
            </tr>
            <tr>
                <td>Dano na armadura do defensor</td>
                <td>{{damageInfo.defenseArmorResistDamage}}</td>
            </tr>
            <tr>
                <td>Dano na arma do atacante</td>
                <td>{{damageInfo.attackWeaponResistDamage}}</td>
            </tr>
        </table>
    {{/if}}
</div>
