<form class="{{cssClass}}" autocomplete="off">
    <!-- <header class="sheet-header">
        
    </header> -->
    <div class="sheet-content">
        <div class="flexrow">
            <div class="aura-content">
                <!-- <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/> -->
                <!-- <h1><input name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1> -->
                {{#each data.auras as |rank name|}}
                    <div class="aura-entry">
                        <img src="systems/togarashi/assets/auras/{{name}}.png" title="{{name}}" height="56" width="56"/>
                        <select name="data.auras.{{name}}" data-field="data.auras.{{name}}">
                            {{selectOptions ../config.auraRanks selected=rank localize=true}}
                        </select>
                    </div>
                {{/each}}
            </div>
            <div class="top-stats-content">
                <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="64" width="64"/>
                <h1><input class="name-editor" name="name" type="text" value="{{actor.name}}" placeholder="{{ localize 'Name' }}"/></h1>
                <table>
                    <tr>
                        <th>{{localize "togarashi.characterStats.guardLow"}}</th>
                        <th>{{localize "togarashi.characterStats.guardHigh"}}</th>
                        <th>{{localize "togarashi.characterStats.experience"}}</th>
                        <th>{{localize "togarashi.characterStats.texture"}}</th>
                    </tr>
                    <tr>
                        <td>
                            <span class="true-stat-value">{{guard.guardLow}}</span>
                        </td>
                        <td>
                            <span class="true-stat-value">{{guard.guardHigh}}</span>
                        </td>
                        <td>
                            <input class="base-stat" style="width: 50px" name="data.experience" type="number" value="{{data.experience}}" data-dtype="Number"></input>
                        </td>
                        <td>
                            <select name="data.texture" data-field="data.texture">
                                {{selectOptions config.textureTypes selected=data.texture localize=true}}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        
        <table>
            <tr>
                <th>{{localize "togarashi.characterStatsGroups.physical"}}</th>
                <th>{{localize "togarashi.characterStatsGroups.mental"}}</th>
                <th>{{localize "togarashi.characterStatsGroups.special"}}</th>
            </tr>
            <tr>
                <td>
                    <table class="stat-group">
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.force.base">{{localize "togarashi.characterStats.force"}}</label>
                                <input class="base-stat" name="data.force.base" type="number" value="{{data.force.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.dexterity.base">{{localize "togarashi.characterStats.dexterity"}}</label>
                                <input class="base-stat" name="data.dexterity.base" type="number" value="{{data.dexterity.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.resistence.base">{{localize "togarashi.characterStats.resistence"}}</label>
                                <input class="base-stat" name="data.resistence.base" type="number" value="{{data.resistence.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="stat-group">
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.intelligence.base">{{localize "togarashi.characterStats.intelligence"}}</label>
                                <input class="base-stat" name="data.intelligence.base" type="number" value="{{data.intelligence.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.focus.base">{{localize "togarashi.characterStats.focus"}}</label>
                                <input class="base-stat" name="data.focus.base" type="number" value="{{data.focus.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.force.base">{{localize "togarashi.characterStats.intuition"}}</label>
                                <input class="base-stat" name="data.intuition.base" type="number" value="{{data.intuition.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table class="stat-group">
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.naturalEnergy.base">{{localize "togarashi.characterStats.naturalEnergy"}}</label>
                                <input class="base-stat" name="data.naturalEnergy.base" type="number" value="{{data.naturalEnergy.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.opening.base">{{localize "togarashi.characterStats.opening"}}</label>
                                <input class="base-stat" name="data.opening.base" type="number" value="{{data.opening.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                        <tr>
                            <td class="base-stat-container">
                                <label class="base-stat-label" for="data.control.base">{{localize "togarashi.characterStats.control"}}</label>
                                <input class="base-stat" name="data.control.base" type="number" value="{{data.control.base}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <h1>{{localize "togarashi.items"}} ({{weightStats.curr}} / {{weightStats.max}} peso)</h1>

        <div class="flexrow editable-tabs-container">
            <div class="editable-tabs armors-tab">
                <h2>{{localize "togarashi.armors"}}</h2>
                <table>
                    <tr>
                        <th>{{localize "togarashi.item"}}</th>
                        <th>{{localize "togarashi.itemAttributes.weight"}}</th>
                    </tr>
                    {{#each armors as |item|}}
                        {{#if (eq ../data.equippedItems.armor item._id)}}
                            <tr class="item-card selected" data-item-type="armor" data-item-id="{{item._id}}">
                                <td>{{item.name}}</td>
                                <td>{{item.weight}}</td>
                            </tr>
                        {{else}}
                            <tr class="item-card" data-item-type="armor" data-item-id="{{item._id}}">
                                <td>{{item.name}}</td>
                                <td>{{item.weight}}</td>
                            </tr>
                        {{/if}}
                    {{/each}}
                </table>
            </div>
            <div class="editable-tabs weapons-tab">
                <h2>{{localize "togarashi.weapons"}}</h2>
                <table>
                    <tr>
                        <th>{{localize "togarashi.item"}}</th>
                        <th>{{localize "togarashi.itemAttributes.weight"}}</th>
                    </tr>
                    {{#each weapons as |item|}}
                        {{#if (eq ../data.equippedItems.weapon item._id)}}
                            <tr class="item-card selected" data-item-type="weapon" data-item-id="{{item._id}}">
                                <td>{{item.name}}</td>
                                <td>{{item.weight}}</td>
                            </tr>
                        {{else}}
                            <tr class="item-card" data-item-type="weapon" data-item-id="{{item._id}}">
                                <td>{{item.name}}</td>
                                <td>{{item.weight}}</td>
                            </tr>
                        {{/if}}
                        
                    {{/each}}
                </table>
            </div>
            <div class="editable-tabs items-tab">
                <h2>{{localize "togarashi.items"}}</h2>
                <table>
                    <tr>
                        <th>{{localize "togarashi.item"}}</th>
                        <th>{{localize "togarashi.itemAttributes.weight"}}</th>
                    </tr>
                    {{#each genericItems as |item|}}
                        <tr class="item-card" data-item-type="generic" data-item-id="{{item._id}}">
                            <td>{{item.name}}</td>
                            <td>{{item.weight}}</td>
                        </tr>
                    {{/each}}
                </table>
            </div>
        </div>

        <h1>{{localize "togarashi.modifiers"}}</h1>
        <div class="flexrow editable-tabs-container">
            <div class="editable-tabs status-modifiers-tab">
                <h2>{{localize "togarashi.status"}}</h2>
                <table>
                    <tr>
                        <th>{{localize "togarashi.status"}}</th>
                        <th>{{localize "togarashi.modifierType"}}</th>
                        <th>{{localize "togarashi.modifier"}}</th>
                    </tr>
                    {{#each data.statusModifiers as |statusModifier id|}}
                        <tr data-id="{{id}}">
                            <td>
                                <select name="statusModifier.status" data-field="statusModifier.status">
                                    {{selectOptions ../config.modifiableStats selected=statusModifier.status localize=true}}
                                </select>
                            </td>
                            <td>
                                <select name="statusModifier.modifierType" data-field="statusModifier.modifierType">
                                    {{selectOptions ../config.statsModifierTypes selected=statusModifier.modifierType localize=true}}
                                </select>
                            </td>
                            <td>
                                <input class="base-stat modifier-value" name="statusModifier.modifier" type="number" value="{{statusModifier.modifier}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                    {{/each}}
                </table>
                <i class="fas fa-plus add-status-mod-button"></i>
            </div>
            <div class="editable-tabs mastery-tab">
                <h2>{{localize "togarashi.mastery"}}</h2>
                <table>
                    <tr>
                        <th>{{localize "togarashi.status"}}</th>
                        <th>{{localize "togarashi.weapon"}}</th>
                        <th>{{localize "togarashi.modifier"}}</th>
                    </tr>
                    {{#each data.masteries as |mastery id|}}
                        <tr data-id="{{id}}">
                            <td>
                                <select name="mastery.status" data-field="mastery.status">
                                    {{selectOptions ../config.modifiableStats selected=mastery.status localize=true}}
                                </select>
                            </td>
                            <td>
                                <select name="mastery.weapon" data-field="mastery.weapon">
                                    {{selectOptions ../config.weaponTypes selected=mastery.weapon localize=true}}
                                </select>
                            </td>
                            <td>
                                <input class="base-stat modifier-value" name="mastery.modifier" type="number" value="{{mastery.modifier}}" data-dtype="Number"></input>
                            </td>
                        </tr>
                    {{/each}}
                </table>
                <i class="fas fa-plus add-mastery-button"></i>
            </div>
        </div>
    </div>
</form>
