<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="systems/togarashi/assets/weapons/{{data.data.kind}}.png" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="{{ localize 'Name' }}"/></h1>
    </header>
    <div class="sheet-content">
        <table>
            <tr>
                <th>{{localize "togarashi.weaponAttributes.kind"}}</th>
                <th>{{localize "togarashi.weaponAttributes.material"}}</th>
                <th>{{localize "togarashi.weaponAttributes.damage"}}</th>
                <th>{{localize "togarashi.weaponAttributes.weight"}}</th>
                <th>{{localize "togarashi.weaponAttributes.accuracy"}}</th>
                <th>{{localize "togarashi.weaponAttributes.critical"}}</th>
                <th>{{localize "togarashi.weaponAttributes.durability"}}</th>
            </tr>
            <tr>
                <td>
                    <select name="data.kind">
                        {{#select data.kind}}
                        {{#each config.weaponKinds as |name kind|}}
                        <option value="{{kind}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <select name="data.material">
                        {{#select data.material}}
                        {{#each config.materials as |name type|}}
                        <option value="{{type}}">{{localize name}}</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </td>
                <td>
                    <input name="data.damage" type="text" value="{{data.damage}}" data-dtype="Number"></input>
                </td>
                <td>
                    <input name="data.weight" type="text" value="{{data.weight}}" data-dtype="Number"></input>
                </td>
                <td>
                    <input name="data.accuracy" type="text" value="{{data.accuracy}}" data-dtype="Number"></input>
                </td>
                <td>
                    <input name="data.critical" type="text" value="{{data.critical}}" data-dtype="Number"></input>
                </td>
                <td>
                    <input name="data.durability" type="text" value="{{data.durability}}" data-dtype="Number"></input>
                </td>
            </tr>
        </table>

        {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
    </div>
</form>
